.board-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.board-list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.board-list {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    text-align: left;
    margin: 10px 0;
}

.board-list-header {
    background-color: #ffdcf4; /* 헤더 배경색 적용 */
    font-weight: bold;
}

.board-list-item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr; 
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.board-list-item:nth-child(even) {
    background-color: #fafafa;
}

.board-list-item h3, .board-list-item p {
    margin: 0;
    padding: 5px;
}

.board-list-item p a {
    text-decoration: none; 
    color: inherit;
    transition: color 0.3s; 
}

.board-list-item p a:hover {
    color: tomato;
    ; 
}

.post-title {
    font-size: 16px;
    font-weight: bold;
}

.post-content {
    font-size: 14px;
    color: #555;
}

.post-date {
    font-size: 12px;
    color: gray;
}
